.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  margin-top: 10%;
  justify-content: space-between;
  /*margin-top: 10%;*/

}

img {
  max-width: 100%;
  height: auto;
}

.cracker {
  display: flex;
  margin-top: 2%;
  
}
