/* =================================
  Base Element Styles
==================================== */
* {
box-sizing: border-box;
}

/*legend {
display: inline;
width: auto;
padding: 0;
margin: 0;
font-size: medium;
line-height: normal;
color: #000000;
border: 0;
border-bottom: none;
}*/

body {
	width: 100%;
	font-weight: 400;
	margin: 0px;
	line-height:;
}



a {
text-decoration: none;
color: #b921f1;

}

/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}*/

h1 {
	font-family: 'Montserrat', sans-serif ;
	font-size: 2em;
	padding: 0px;
	margin: 0px;

}


h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
	color: #b921f1 ;
	text-align: center;
	margin: 0 auto 0;
}

h3 {

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 600;
	padding: 20px 0 0;
	margin: 0px;
	color: #575962 ;
}

p {
font-family: 'Roboto Mono', 'Courier', serif;
font-size: 1em;
color: #575962;
line-height: 1.5em;
font-weight: 400;

}



/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.container {
	width: 100%;

}

.main-nav {
  margin-top: 15px;
	width: 100%;
	margin: 15 auto;
	text-align: center;
}

.main-nav a {
	font-size: .85em;
	color: #a0a0a0;
	text-transform: uppercase;
}

.main-nav li {
font-family: 'Montserrat', sans-serif;
font-size: 1em;
color: #fff;
display: block;
/*margin-bottom: 15px;*/
margin: 16px 10px;
}

nav a {
	color: #fff;

}

.main-nav a:hover {
	color: #000;
	text-decoration: none;
}

.active a{
	color: #b921f1;

}

.background-image h1 {
font-family: 'Montserrat', sans-serif;

font-size: 6em;
font-weight: 700;
text-align: center;
color: #fff;
display: block;
position: absolute;
top: 25%;
  /*top: 15%;*/
  color: white;
   line-height: 1em;
width: 100%;
}

.meat {
	background: #eee;
	padding-top: 30px;
	padding-bottom:20px
}

.background-image {
margin: 0px;
padding: 0px;
width: 100%;
height: 300px;
max-height: 500px;
position: relative;
background: url(../img/lincoln-header.jpg) center center no-repeat;
background-size: cover;
}

.background-image a {
	color: #fff;
}


.col {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 30px;

	padding-top: 20px;
  text-align: center;
}

/* ___CHANGED NORMALIZE.CSS menu, ol, li to have a PADDING OF ZERO from 0 0 0 40px TO FIX THE CENTERING ISSUE WITH ULs */


.main-footer {
	text-align: center;
	padding: 1em 0;
	background: #fff;
}

/*footer {
color: #aaa9ae;
font-family: 'Roboto Mono', 'Courier', serif;
font-size: .9em;
text-align: center;
margin: 50px 0 20px;

}*/




footer .social img {
  max-width: 24px;
  margin: 0 10px;

}


.social li {
  list-style: none;
  text-decoration: none;
  display:inline-block;
  /*position: relative;*/
  }
/*
.social li {}

		ul .social, li {
	    list-style: none;
	    text-decoration: none;
	    display:inline-block;
	    /*position: relative;*/
	    }*/

.gallery {
	width: 60%;
}

.gallery ul {
	list-style: none;
}



.gallery ul {
	list-style: none;
	}

.gallery ul li img {
    max-width: 100%;
		margin-top: 15%;
	}
/* Media Queries -------------------- */

#overlay {
  background: rgba(185,33,241,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
	z-index: 100
}

#overlay img {
  /*margin-top: 10%;*/
	width: 50%;

}


@media (min-width: 769px) {
	/*body {
	padding-top: 70px;
	}*/
}

@media (min-width: 390px) {

	.main-nav li {
	  display: inline-block;
	  margin-left: 15px;
	}

	.background-image {
		height: 600px;
}

.background-image h1 {
	font-size: 6em;
}
}

@media (min-width: 390px) {




@media (min-width: 658px) {

	.main-nav {
	  margin-top: 15px;
		width: 100%;
		margin: 25px auto;
		/*text-align: center;*/
	}


	.main-nav a {
		font-size: 1em;
	}

	.main-nav li {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: #fff;
	/*margin-bottom: 15px;*/
	margin: 5px 20px;
	}


	.background-image {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 500px;
	max-height: 500px;
	position: relative;
	background: url(../img/lincoln-header.jpg) center center no-repeat;
	background-size: cover;
	}

	.background-image h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 8em;
	text-align: center;
	color: #fff;
	display: block;
	  position: absolute;
	  top: 25%;
	  color: white;
	   line-height: 1em;
	width: 100%;
	}

	.col {
	  width: 75%;
	  margin: 0 auto;
	}

.secondary-content {
	padding: 0px 80px;

}
  .main-footer {
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
